<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="WebApp_ID">
	<display-name>HomeController</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>maven1.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Profile</display-name>
		<servlet-name>Profile</servlet-name>
		<servlet-class>maven1.controller.Profile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>mySQL</display-name>
		<servlet-name>mySQL</servlet-name>
		<servlet-class>maven1.model.mySQL</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/Profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mySQL</servlet-name>
		<url-pattern>/mySQL</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>
</web-app>